@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap");

.background-card {
    background-color: rgba(231, 231, 231);
    border-radius: 2%;
    width: 300px;
    height: 350px;
    padding-bottom: 3%;
    margin: auto;
    margin-bottom: 1%;
    text-align: center;
}

.flex-cardType {
    display: flex;
}

.img-card {
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: 100% 0;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.textDescription {
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
    margin-top: 0.1em;
    text-align: left;
    padding-left: 0.3em;
    padding-right: 0.1em;
    margin-top:  1.0em;
}

.text-total {
    display: flex;
    flex-direction: column;
    justify-content: left;
}



@media screen and (max-width:1000px) {
    .background-card {
        width: 300px;
        height: 350px;
    }
    .textDescription {
        font-size: 18px;
        margin-top:  1.0em;
    }

    .text-total {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .img-card {
        width: 300px;
        height: 200px;
        object-fit: cover;
        object-position: 100% 0;
        border-top-left-radius: 2%;
        border-top-right-radius: 2%;
    }
}
