.co-pseudo {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 1em;
    margin-top:  1.5em;
}

@media screen and (max-width:900px) {
    .co-pseudo {
        margin-left: 0.3em;
        margin-top:  1.5em;
    }
}