.Contact {
  padding: 1em;
  background: rgb(114, 84, 84);
  width: 130%;
  display: flex;
  align-items: center;
  font-size: 20px;
}

/* Contact image */
.Contact .avatar {
  border-radius: 50%;
  margin-right: 1em;
  width: 48px;
  height: 48px;
}

/* Name */
.Contact .name {
  margin: 0 0 0.25rem;
  color: #eee;
  font-size: 22px;
}

/* Status text */
.Contact .status .status-text {
  color: black;
  margin: 0;
  display: inline-block;
}

/* Status (rounded&colored indicator) */
.Contact .status .status-online,
.Contact .status .status-offline {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 6px;
}

.Contact .status .status-online {
  background: #aed581;
}

.Contact .status .status-offline {
  background: #f4511e;
}

@media only screen and (max-width: 1024px) 
{
  .Contact {
    width: 115%;
  }
  
  /* Contact image */
.Contact .avatar {
    border-radius: 50%;
    margin-right: 1em;
    width: 48px;
    height: 48px;
  }
  
  /* Name */
.Contact .name {
    margin: 0 0 0.25rem;
    color: #eee;
    font-size: 22px;
  }
  
  /* Status text */
.Contact .status .status-text {
    color: black;
    margin: 0;
    display: inline-block;
  }
  
  /* Status (rounded&colored indicator) */
.Contact .status .status-online,
.Contact .status .status-offline {
    display: inline-block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 6px;
  }
  
}


@media screen and (max-width:767px) {
.Contact {
  display: flex;
  flex-direction: column;
  background: rgb(114, 84, 84);
  width: 60%;
  height: 51px;
  align-items: center;
  font-size: 20px;
  justify-content: center;
}

  
/* Contact image */
.Contact .avatar {
border-radius: 50%;
width: 40px;
height: 40px;
margin: auto;
}

/* Name */
.Contact .name {
color: #eee;
font-size: 12px;
}

.status{
display: flex;
flex-direction: row;
justify-content: space-around;
}

/* Status text */
.Contact .status .status-text {
color: black;
margin: 0;
display: flex;
}

/* Status text */
.status .status-text {
margin-left: 5px;
}

/* Status (rounded&colored indicator) */
.Contact .status .status-online,
.Contact .status .status-offline {
display: flex;
border-radius: 50%;
width: 8px;
height: 8px;
margin: auto;
margin-right: 10px;
}

.status-text{
font-size: 12px;
}
}