@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap%22");

.inscriptionPage {
    font-family:  'Dosis', sans-serif;
    background-color: white; 
    padding-bottom: 20px;   
  }
   
  @media screen and (min-width: 800px) {
    .inscriptionPage {
      width: 100%;
      margin: auto;
      padding-bottom: 20px;  
    }
  }