.landing {
    background-image: url('./Tindog-Transparent_all.png');
    background-repeat: no-repeat;
    padding-top: 200px;
    background-position: top;
    height: 536px;
  }
  
  .button {
    margin-top: 380px;
    margin-bottom: 60px;
    text-align: center;
  }
  
  @media (min-width: 320px) and (max-width: 767px) {
  
    .logo-homepage {
      width: 300px;
      height: 300px;
    }
  
  }