
.blockLogInInformation {
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    color: white;
}

.block1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.block2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

label{
    margin-top: 10px;
}

input, textarea {
    border: white;
    border-radius: 2px;
}


select{
    background-color: white;
}



@media screen and (min-width: 800px){
 
}