.landing {
    background-image: url('./Tindog-Transparent_all.png');
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 0;
  }
  
  @media (min-width: 320px) and (max-width: 767px) {
  
    .logo-homepage {
      width: 300px;
      height: 300px;
    }
  
  }