
.Mainpage{
    height: 100vh;
   
}
.Mainpage-card{
    position: absolute;
    top: 50%;
   
    text-align: center;
    object-position: center;
}

.Page-Mainpage {
    height: 50vh;
}

@media (min-width: 320px) and (max-width: 767px) {
    .Page-Mainpage {
        height: 80vh;
    }
}



