.button-message {
    padding: 10px;
    font-size: 25px;
}

.main-message-area {
    width: 100%;
    padding: 5px;
    height: 98vh;
}


.Message {
    display: flex;
    flex-flow: row nowrap;
}


.Message-Page {
    display: flex;
}

@media screen and (max-width:767px) {
    .Message {
        width: 15%;
    }

    
  }

