.MessageList {
  overflow-y: auto;
  padding: 4px;
  background-color: white;
  box-sizing: border-box;
  flex: 1;
  height: 26rem;
  width: 93%;
  margin-left: 7%;
}

@media only screen and (max-width: 1024px) {

.MessageList {
  width: 90%;
  margin-left: 10%;
}
}

@media screen and (max-width:767px) {
  .MessageList {
    width: 91%;
    margin-left: 9%;
}

}