.MessageList {
  overflow-y: auto;
  padding: 4px;
  background-color: white;
  box-sizing: border-box;
  flex: 1;
  height: 26rem;
  width: 93%;
  margin-left: 7%;
}

.msg-send {
  display: inline-block;
  background-color: rgb(73, 73, 73);
  padding: 0.5em 0.8em;
  color: snow;
  border-radius: 30px;
	-webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

@media only screen and (max-width: 1024px) {

.MessageList {
  width: 90%;
  margin-left: 10%;
}
}

@media screen and (max-width:767px) {
  .MessageList {
    width: 91%;
    margin-left: 9%;
}

}