@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap%22");

.Navbar {
  background: #511845;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: 'Dosis', sans-serif;
  width: 100%;
}

.icons-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  list-style-type: none;
}

.img-icons-navbar {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.img-pawprint-navbar {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.img-burger-navbar {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  display: none;
}

.name-navbar {
  border: 2px solid white;
  font-size: 20px;
  padding: 3px;
  margin-top: 0;
  margin-bottom: 0;
}

.name-navbar-hidden {
  display: none;
}

.tinder-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .Navbar {
    background: #511845;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: auto;
  }

  .icons-navbar {
    display: none;
  }

  .name-navbar {
    display: none;
  }

  .name-navbar-hidden {
    display: block;
    border: 2px solid white;
    font-size: 20px;
    padding: 3px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
