.icons-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin-left:70%;

}

.img-pawprint-navbar {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.img-burger-navbar {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  display: none;
}



.name-navbar {
  border: 2px solid white;
  font-size: 20px;
  padding: 3px;
}


.Navbar {
    background: #511845;
    padding: 1em 2em;
    color: white;
    display: flex;
    flex-direction: row;


  }

  .tinder-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }


@media only screen and (max-width : 1024px) {
  .name-navbar {
    display: none;
  }

}


  @media only screen and (max-width : 736px) {
  .icons-navbar {
    display: none;
  }

  .img-burger-navbar {
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    margin-left:65%;


  }


  .name-navbar {
    display: none;
  }

  }
