@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap%22");

.Navbar {
  margin: auto;
  background: #511845;
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-family: 'Dosis', sans-serif;
  width: 100%;
}

.NavbarLoginPage-I {
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  font-family: 'Dosis', sans-serif;
  width: 100%;
  background-color: #511845;
}

.NavbarLoginPage {
  padding-top: 1em;
  padding-bottom: 1em;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  font-family: 'Dosis', sans-serif;
  width: 100%;
}

.center-logo {
  margin: 0 5em;
}

.icons-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li {
  list-style-type: none;
}

.img-icons-navbar {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}

.img-pawprint-navbar {
  width: 32px;
  height: 32px;
}

.img-burger-navbar {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  display: none;
}

.name-navbar {
  border: 2px solid white;
  font-size: 20px;
  padding: 3px;
}

.tinder-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name-navbar-hidden-inscriptionPage {
  font-size: 30px;
}

.name-navbar-hidden-loginPage {
  font-size: 30px;
}

.name-navbar-hidden {
  font-size: 30px;
}


@media (min-width: 320px) and (max-width: 767px) {
  .Navbar {
    background: #511845;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: auto;
  }

  .icons-navbar {
    display: none;
  }

  .name-navbar {
    display: none;
  }

  .name-navbar-hidden {
    display: flex;
    border: 2px solid white;
    font-size: 20px;
    padding: 3px;
    margin-left: 23px;
  }

  .name-navbar-hidden-real {
    display: flex;
    border: 2px solid white;
    font-size: 20px;
    padding: 3px;
    margin-right: 22px;
  }
 
  .name-navbar-hidden-inscriptionPage {
    font-size: 20px;
  }
  .name-navbar-hidden-loginPage {
    font-size: 20px;
  }
}