.MessageText {
    width: 100%
    ;
}
.MessageTextLeft {
    padding: 10px 0 10px 0;
    margin: 0 100px 0 0;
}
.MessageTextRight {
    padding: 10px;
    margin: 0 0 0 100px;
}
.form-control {
    font-size: 25px;
    color: rgb(183, 17, 216);
    
}