@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap");


* {
    font-family: 'Dosis', sans-serif;
}

.footer-background {
    display: flex;
    justify-content: space-around;
    background-color: #511845;   
    font-size: 30px;


}

.icon-footer {
    margin-top: 27px;
}

.icon-footer-paws {
    width: 80px;
    height: 80px;
}

ul, li {
    list-style-type: none;
    color: white;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}


@media (min-width: 320px) and (max-width: 767px) {

    li {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    ul {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
        
    }

    .icon-footer {
        margin-top: 0em;
    }


    .icon-footer-paws {
        display: none;
        
    }
  
    .footer-background {
        display: flex;
        flex-direction: column;
        font-size: 20px;
   
  }
}
