@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap");


* {
    font-family: 'Dosis', sans-serif;
}

.footer-background {
    display: flex;
    justify-content: space-around;
    background-color: #511845;   
    font-size: 20px;


}

.icon-footer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-contact {
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-faq {
    margin-top: 15px;
    margin-bottom: 15px;
}

.icon-footer-paws {
    width: 60px;
    height: 60px;
}

ul, li {
    list-style-type: none;
    color: white;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}


@media (min-width: 320px) and (max-width: 767px) {

    .icon-footer {
        margin-top: 0em;
        margin-bottom: 0em;
    } 

    .footer-contact {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footer-faq {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .icon-footer-paws {
        display: none;
        
    }
  
    .footer-background {
        display: flex;
        flex-direction: column;
        font-size: 20px;
   
  }
}
