
.button-match {
  width: 128px;
  height: 128px;
  border: none;
  outline-style:none;
  background: url(./icons-navbar/animal-care.png);
  background-size: 128px;
  padding-bottom: 3%;
  margin-bottom: 8%;
  margin-top: -100%;
  margin-left: 70%;
}
